
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.container {
  width: 100%;
  text-align: center;
}

.column-full {

}

.row {
  display:flex;
  flex-direction:column;
}

.button {
  font-family:'Noto Sans', sans-serif;
  font-size: 14px;
  width: 142px;
  height: 34px;
  background-color: white;
  color: black;
  border: 2px solid black;
  box-shadow: 5px 4px 5px 0px black;
  transition: all 1s ease-in-out;
}

.button:hover {
  background-color: lightblue;
  cursor: pointer;
}

.pop-up {
  height:50%;
  width:60%;
  background-color:white;
  border:1px solid black;
  align-self:center;
}

.modal {
  width:100%;
  height:100vh;
  position:fixed;
  background: rgba(0,0,0,0.3);
  display:flex;
  justify-content: center;
  top:0;
}
